<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="seedsfromzion.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="seedsfromzion.Settings1.connection" connectionString="Server = localhost; Database = seedsdb; Uid = root; Pwd = 123456;" />
    </connectionStrings>
    <userSettings>
        <seedsfromzion.Properties.Settings>
            <setting name="SqlFolder" serializeAs="String">
                <value>E:\Program Files\MySQL\MySQL Server 5.1\bin</value>
            </setting>
            <setting name="ImageFolder" serializeAs="String">
                <value>Images</value>
            </setting>
            <setting name="BackupFolder" serializeAs="String">
                <value>Backups</value>
            </setting>
            <setting name="LastOptimizeDate" serializeAs="String">
                <value />
            </setting>
            <setting name="OptimizeFrequency" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="VisaNotify" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="OrderNotify" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="UnitsNotify" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Favorites" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>"12"</string>
                        <string>"13"</string>
                    </ArrayOfString>
                </value>
            </setting>
        </seedsfromzion.Properties.Settings>
    </userSettings>
</configuration>