<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="seedsfromzion.configurations" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="seedsfromzion.configurations.connection" connectionString="Server = localhost; Database = seedsdb; Uid = root; Pwd = qazwsx;" />
    </connectionStrings>
    <applicationSettings>
        <seedsfromzion.configurations>
            <setting name="SqlFolder" serializeAs="String">
                <value>C:\Program Files\MySQL\MySQL Server 5.1\bin</value>
            </setting>
        </seedsfromzion.configurations>
    </applicationSettings>
</configuration>