/*The background of the page , something green*/
.sign {width:100%;
	color:black}
body
{
background-color:#f4ffd8;
}
/*headings will be a color close to white*/
.signature { color:green ; font-size:12px; font-family:"Times New Roman", Times, serif;}
p { color:black;}
.line {color: #f00; height: 1px;}
.maintable {color:black; border: 1px solid black; border-collapse:collapse;}
td {padding:15px; border: 1px solid green;}
th {background-color:green; color:white; border: 1px solid green;}
.tdsign{ border: 1px solid #f4ffd8;}
