<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="seedsfromzion.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="seedsfromzion.Settings1.connection" connectionString="Server = localhost; Database = seedsdb; Uid = root; Pwd = 123456;" />
    </connectionStrings>
    <userSettings>
        <seedsfromzion.Properties.Settings>
            <setting name="SqlFolder" serializeAs="String">
                <value>C:\Program Files\MySQL\MySQL Server 5.1\bin</value>
            </setting>
            <setting name="ImageFolder" serializeAs="String">
                <value>Images</value>
            </setting>
            <setting name="BackupFolder" serializeAs="String">
                <value>Backups</value>
            </setting>
            <setting name="LastOptimizeDate" serializeAs="String">
                <value />
            </setting>
            <setting name="OptimizeFrequency" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="VisaNotify" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="OrderNotify" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="UnitsNotify" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="VisaFrequency" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="OrderFrequency" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="UnitsFrequency" serializeAs="String">
                <value>48</value>
            </setting>
            <setting name="LastBackupDate" serializeAs="String">
                <value>2012-04-03</value>
            </setting>
            <setting name="BackupFrequency" serializeAs="String">
                <value>2</value>
            </setting>
        </seedsfromzion.Properties.Settings>
    </userSettings>
</configuration>